.navbar-brand{
    height: auto;
    padding:0;
}

.mt-1{    
    margin-top: 10px;
}

.mt-25{
    margin-top: 25px;
}

.fll_wdth{
    float: left;
    width: 100%;
}

.box-wrapper{
    background: #ffffff;
    border: 1px solid #e1e1e1;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
    padding:15px;
    float: left;
    width: 100%;
}

.beltlevels li.active a.yellow{
    background: #f0ad4e;
    color: #fff;
}

.beltlevels li.active a.yellow label{
    background: #ffffff;
    color: #f0ad4e;
}

.beltlevels li.active a.green{
    background: #5cb85c;
    color: #fff;
}

.beltlevels li.active a.green label{
    background: #ffffff;
    color: #5cb85c;
}

.beltlevels li.active a.black{
    background: #777;
    color: #fff;
}

.beltlevels li.active a.black label{
    background: #ffffff;
    color: #777;
}

.beltlevels li.active a.expert{
    background: #337ab7;
    color: #fff;
}

.beltlevels li.active a.expert label{
    background: #ffffff;
    color: #337ab7;
}
/* 
.disabled{
    opacity: 0.6;
} */