.navbar-brand {
    height: auto;
    padding: 0;
}
img{
    max-width:100%;
}
.clearfix{
    clear:both;
    display:block;
    content:"";
}
.mt-1 {
    margin-top: 10px;
}

.mt-25 {
    margin-top: 25px;
}

.fll_wdth {
    float: left;
    width: 100%;
}

.box-wrapper {
    background: #ffffff;
    /*border: 1px solid #e1e1e1;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);*/
    padding: 15px;
    float: left;
    width: 100%;
}

.beltlevels li.active a.yellow {
    background: #f0ad4e;
    color: #fff;
}

    .beltlevels li.active a.yellow label {
        background: #ffffff;
        color: #f0ad4e;
    }

.beltlevels li.active a.green {
    background: #5cb85c;
    color: #fff;
}

    .beltlevels li.active a.green label {
        background: #ffffff;
        color: #5cb85c;
    }

.beltlevels li.active a.black {
    background: #777;
    color: #fff;
}

    .beltlevels li.active a.black label {
        background: #ffffff;
        color: #777;
    }

.beltlevels li.active a.expert {
    background: #337ab7;
    color: #fff;
}

    .beltlevels li.active a.expert label {
        background: #ffffff;
        color: #337ab7;
    }
/* 
.disabled{
    opacity: 0.6;
} */

.logo img {
    width: 500px;
    height: auto;
    float: left;
    position: absolute;
    top: -22px;
    left: 20px;
}

.head-sub {
    color: #555;
    float: left;
    font-family: Georgia,Times,"Times New Roman",serif;
    font-size: 13px;
    font-style: italic;
    letter-spacing: 0.2px;
    position: absolute;
    left: 177px;
    top: 85px;
}
        #itoolbar a {
    color: #333;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 400;
    line-height: 33px;
    text-decoration: none;
    padding: 0 4px;
}
        #itoolbar a:hover {
    color: #006599;
}


        #header {
    height: 143px;
    background-color: #f1f1f1;
    background: url(/Content/Images/header-bg.jpg) no-repeat center right transparent;
    position: relative;
}

        #social {
    float: right;
    position: relative;
    right: 20px;
    top: 46px;
}


        #footer {
    color: #fff;
    font-size: 13px;
    padding: 0px 0 0 !important;
}
        #foot-social {
    margin-bottom: 0px; 
    text-align:center;
            height: 0;
            position: relative;
    top: 10px;
}

        #foot-social a {
    -webkit-transition: all 250ms ease-in 0s;
    -moz-transition: all 250ms ease-in 0s;
    -o-transition: all 250ms ease-in 0s;
    transition: all 250ms ease-in 0s;
}

        #FooterContentArea {
    background-color: #006599;
    height: auto;
    min-height: 35px;
   
}

        .foot-copy {    
        margin-top: 65px;
    margin-bottom: 5px;

}

        #footer {
    color: #fff;
    font-size: 13px;
    padding: 20px 0 0;
}
        #icopyright {
    background-color: #006599;
    padding: 0 0 10px;
    font-size: 13px;
}

        #icopyright a {
    color: #FFF !important;
}

/*New*/
.header {
    width: 100%;
    position:relative;
    height:143px;
    background: url(/Content/Images/header-bg.jpg) no-repeat center right transparent;
}
.header-out {
    background-color: #fff;
    z-index: 1;
    position: relative;
}
.head_sub_new {
    color: #555;
    float: left;
    font-family: Georgia,Times,"Times New Roman",serif;
    font-size: 13px;
    font-style: italic;
    letter-spacing: 0.2px;
    position: absolute;
    left: 190px;
    top: 84px;
}
.logo {
    width: 500px;
    height: auto;
    float: left;
    position: relative;
}
.footer_text {
    width: 354px;
    margin: 0 auto;
}

.beltlevels li{
    border-right:1px solid #e1e1e1;
}
#chartContainer a {
    display: none;
}

.chart {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
.chart .donat_text {
    font-size: 18px;
    position: absolute;
    z-index: 99;
    top: 54%;
    left: 45%;
    text-align:center;
}
.chart .donat_text span {
    font-size:22px;
    font-weight:bold;
    color:#ff0000;
    display:block;
}
.highcharts-credits{
    display:none;
}
.highcharts-title {
    display: none;
}
.chart .inner_chart {
    min-width: 310px;
    height: 400px;
    max-width: 600px;
    margin: 0 auto;
}
/*High chart*/
.highcharts-exporting-group {
    display: none;
}
.highcharts-background,
.highcharts-plot-background,
.highcharts-plot-border{
    display:none;
}
.highcharts-point-inactive{
    display:none;

}
/*High chart*/
.strip_con {
    position: relative;
    margin-top: 35%;
}
.strip{
    background-color:#f2f2f2;
    padding:10px;
    border-radius:30px;
    margin-bottom:40px;
    padding-left:60px;    
}
    .strip .num_it {
        width: 50px;
        height: 50px;
        background-color: green;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: -7px;
        font-size: 22px;
        color: #ffffff;
        text-align: center;
        padding-top: 5px;
        border: 5px solid #ffffff;
        -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.25);
        box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.25);
    }
    .strip .num_it2 {
        width: 50px;
        height: 50px;
        background-color: red;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 74px;
        font-size: 22px;
        color: #ffffff;
        text-align: center;
        padding-top: 5px;
        border: 5px solid #ffffff;
        -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.25);
        box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.25);
    }
    path{
        stroke:transparent !important;
    }

/*Admin payment update*/
#mtable{
    display:none;
}
.fi_label {
    font-weight: bold;
}
.table th{
    background-color:#f2f2f2;
    padding:15px 10px !important;
    border-bottom:5px solid rgba(0,0,0,0.10) !important;
}
.pass_field{
    position:relative;
}
.pass_field .pass_error{
    position:absolute;
    color:#ff0000;
    font-size:12px;
    left:15px;

}
.check_tile {
    border-radius: 30px;
    background-color: #f2f2f2;
    padding: 10px 30px;
    border: 1px solid rgba(0, 0, 0, 0.10);
}
.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    padding-top: 3px;
    cursor: pointer;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #ffffff;
    border: 1px solid #e6e6e6;
}

.control-radio .control_indicator {
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #ffffff;
    border: 1px solid #e6e6e6;
}

.control input:checked ~ .control_indicator {
    background: #006599;
    border: 1px solid #006599;
}

.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #006599;
    border: 1px solid #006599;
}

.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}

.control input:checked ~ .control_indicator:after {
    display: block;
}

.control-checkbox .control_indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.control-checkbox input:disabled ~ .control_indicator:after {
    border-color: #7b7b7b;
}
#mtable {
    display: none;
}
#updatePayment {
    display: none;
}
#adminPassword{
    display:none;
    /*display:block;*/
}
#updateMember{
    display:none;
}
#mchekboxes{
    display:none;
}
#success{
    color:#5cb85c;
    font-size:12px;
}