@media(max-width:1199px) {
    /*.throughput {
        margin-left: 300px
    }*/
}

@media(max-width:991px) {
    .companyName {
        float: none;
    }

    .changeBtn {
        padding-left: 0;
    }

    /*.throughput {
        margin-left: 180px;
    }*/
}

@media(max-width:767px) {
    .table-responsive {
        border: none;
    }

    .options ul li label {
        font-size: 14px;
    }

    /*.throughput {
        margin-left: 0px;
    }*/

    .pull-none-sm {
        float: none !important;
    }

    .mt-sm-2 {
        margin-top: 20px;
    }

    #tblProcess td {
        white-space: nowrap;
        padding: 10px 5px 10px 10px;
    }

    .table-responsive td {
        white-space: nowrap;
        padding: 10px 5px 10px 10px;
        min-width:100px;
    }
    /*.popover{display:none;}
    .w3-green .popover2 {
        display: none;
    }*/
}

@media(max-width:699px) {
    .intro-page {
        height: 420px;
    }

    .box-wrapper {
        min-height: 880px;
    }

    .intro-page h2 {
        font-size: 14px;
    }

    .intro-page h1 {
        font-size: 19px;
        margin-top: 10px;
    }

    .introduction h2, .introduction1 h2 {
        font-size: 24px;
    }

    .introduction h3, .introduction1 h3 {
        font-size: 18px;
    }

    .introLogo img {
        height: 280px;
    }
}


@media(max-width:536px) {
    .question {
        font-size: 24px;
        padding-left: 40px;
        padding-right: 40px;
        line-height: 32px;
        margin-top: 30px;
        text-align: left;
    }

    .options {
        margin-top: 45px;
    }

    .questionintro {
        padding-left: 40px;
        padding-right: 40px;
        font-size: 20px;
    }

    .options ul {
        padding-left: 40px;
        padding-right: 40px;
    }

    .footer-copyright img {
        float: none !important;
        display: block;
        margin: 20px auto 0;
    }

    .steps-footer {
        position: initial;
    }

    .inpt-form {
        width: 100%;
    }
}


@media(max-width:390px) {
    .introduction .intro-page {
        height: 285px;
        background-position-y: 45px;
    }

        .introduction .intro-page h2 {
            color: #000;
        }

    .introduction1 .intro-page {
        height: 285px;
    }

    .box-wrapper {
        min-height: 827px;
    }

    .question {
        font-size: 20px;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 28px;
        margin-top: 25px;
    }

    .questionintro {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 17px;
    }

    .options {
        margin-top: 30px;
    }

        .options ul {
            padding-left: 25px;
            padding-right: 25px;
        }

    .introLogo img {
        height: 180px;
    }
}

/*Header Responsive*/
@media only screen and (min-width: 320px) and (max-width: 370px) {
    .chart .inner_chart {
        width: 300px;
        height: 400px;
        max-width: 600px;
        margin-left: -24px;
    }
    .chart .donat_text {       
        top: 53%;
        left: 41%;        
    }
}
@media only screen and (min-width: 371px) and (max-width: 480px) {
    .chart .inner_chart {
        width: 300px;
        height: 400px;
        max-width: 600px;
        margin-left: auto;
    }

    .chart .donat_text {
        top: 53%;
        left: 44%;
    }
}
@media only screen and (max-width: 480px) {
    .chart {
        position: relative;
        width: 100%;
        height: 300px;
        margin: 0 auto;
    }

        .chart canvas {
            width: 250px !important;
            height: 350px !important;
        }
    /*.chart .donat_text {       
    top: 49%;
    left: 30%;        
}*/
    .strip_con {
        position: relative;
        margin-top: 26%;
    }    
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .strip_con {
        position: relative;
        width: 40%;
        min-width: 300px;
        margin: 10% auto 0;
    }
    .modal-dialog{
        width:90% !important;
        margin: 5% auto !important;
    }
}

    @media only screen and (min-width: 769px) and (max-width: 1199px) {
        .chart canvas {
            width: 300px !important;
            height: 400px !important;
        }

        .chart .donat_text {
            font-size: 18px;
            position: absolute;
            z-index: 99;
            top: 54%;
            left: 43%;
            text-align: center;
        }

        .strip_con {
            position: relative;
            margin-top: 9%;
            width: 40%;
            min-width: 300px;
            margin: 9% auto 0;
        }
    }

    @media only screen and (max-width: 445px) {
        #header {
            width: 100%;
            height: auto;
        }

        .logo {
            width: 300px;
            height: auto;
            float: left;
            position: relative;
        }

            .logo img {
                width: 100%;
            }

            .logo img {
                height: auto;
                float: left;
                position: relative;
                top: -22px;
                left: 0px;
            }

        .head_sub_new {
            color: #555;
            float: left;
            font-family: Georgia,Times,"Times New Roman",serif;
            font-size: 7px;
            font-style: italic;
            letter-spacing: 0.2px;
            position: absolute;
            left: 110px;
            top: 42px;
        }

        #social {
            float: right;
            position: relative;
            right: 0px;
            top: -24px;
        }

        .foot-copy {
            padding-left: 0px !important;
        }

        #copyright-inner {
            padding-left: 0px !important;
            margin-right: 0px !important;
            margin-top: 0px;
            text-align: center;
        }

        .question-area {
            min-height: auto !important;
            padding:0 15px;
        }

        .footer_text {
            width: 300px;
            margin: 0 auto;
        }
    }

    @media only screen and (min-width: 446px) and (max-width:591px) {
        #header {
            width: 100%;
            height: auto;
        }

        .logo {
            width: 446px;
            height: auto;
            float: left;
            position: relative;
        }

            .logo img {
                width: 100%;
            }

            .logo img {
                height: auto;
                float: left;
                position: relative;
                top: -22px;
                left: 0px;
            }

        .head_sub_new {
            color: #555;
            float: left;
            font-family: Georgia,Times,"Times New Roman",serif;
            font-size: 0.8em;
            font-style: italic;
            letter-spacing: 0.2px;
            position: absolute;
            left: 153px;
            top: 70px;
        }

        #social {
            float: right;
            position: relative;
            right: 0px;
            top: -24px;
        }

        .foot-copy {
            padding-left: 0px !important;
        }

        #copyright-inner {
            padding-left: 0px !important;
            margin-right: 0px !important;
            margin-top: 0px;
            text-align: center;
        }

        .question-area {
            min-height: auto !important;
        }

        .footer_text {
            width: 354px;
            margin: 0 auto;
        }
    }

    @media only screen and (min-width: 592px) and (max-width:767px) {
        #header {
            width: 100%;
            height: auto;
        }

        .logo {
            width: 446px;
            height: auto;
            float: left;
            position: relative;
        }

            .logo img {
                width: 100%;
            }

            .logo img {
                height: auto;
                float: left;
                position: relative;
                top: -22px;
                left: 0px;
            }

        .head_sub_new {
            color: #555;
            float: left;
            font-family: Georgia,Times,"Times New Roman",serif;
            font-size: 0.8em;
            font-style: italic;
            letter-spacing: 0.2px;
            position: absolute;
            left: 153px;
            top: 70px;
        }

        #social {
            float: right;
            position: relative;
            right: 0px;
            top: 45px;
        }

        .foot-copy {
            padding-left: 0px !important;
        }

        #copyright-inner {
            padding-left: 0px !important;
            margin-right: 0px !important;
            margin-top: 0px;
            text-align: center;
        }

        .question-area {
            min-height: auto !important;
        }

        .footer_text {
            width: 354px;
            margin: 0 auto;
        }
    }

@media only screen and (max-width:767px) {
    .beltlevels li {
        border-right: 0px solid #e1e1e1;
    }

    label .companyName .form-control {
        margin-top: 8px !important;
    }

    .tc {
        text-align: center;
    }

    .text-danger {
        margin-bottom: 0px !important;
    }

    .market {
        text-align: center;
        margin-right: 0px;
    }
    
}

    @media only screen and (max-width: 1200px) {
        .step {
            display: none;
        }
        .ml_remain_progress {
            margin-left: -6px;
        }
        .text_lower {
            overflow-x: auto !important;
        }
    }
@media only screen and (min-width:320px) and (max-width:349px) {
    .text_left, .text_right {
        font-size: 12px !important;
    }

        .text_right .inner_r {
            padding-top: 7%;
            font-weight: bold;
        }

        .text_right .inner_g {
            padding-top: 21%;
            font-weight: bold;
        }
}
@media only screen and (min-width:350px) and (max-width:420px) {
    .text_left, .text_right {
        font-size: 12px !important;
    }

    .text_right .inner_r {
        padding-top: 7%;
        font-weight: bold;
    }

    .text_right .inner_g {
        padding-top: 52%;
        font-weight: bold;
    }
}
@media only screen and (min-width:421px) and (max-width:500px) {
    .text_left, .text_right {
        font-size: 12px !important;
    }

        .text_right .inner_r {
            padding-top: 7%;
            font-weight: bold;
        }

        .text_right .inner_g {
            padding-top: 74%;
            font-weight: bold;
        }
}
@media only screen and (min-width:540px) and (max-width:600px) {
    .hourshift {        
        float: left;
        width: 50%;
        margin-top: 45%;        
    }
}
@media only screen and (min-width:601px) and (max-width:650px) {
    .hourshift {
        float: left;
        width: 50%;
        margin-top: 36%;
    }
}
@media only screen and (min-width:651px) and (max-width:800px) {
    .hourshift {
        float: left;
        width: 50%;
        margin-top: 30%;
    }
}
@media only screen and (min-width:801px) and (max-width:1200px) {
    .hourshift {
        float: left;
        width: 50%;
        margin-top: 25%;
    }
}
@media only screen and (max-width:430px) {
    .input-group .passText {
        color: green;
        background-color: #ffffff;
        display: block !important;
        position: absolute;
        font-size: 12px;
        z-index: 99;
        top: 10px;
        right: 7px;
        animation: blink 0.8s linear infinite;
    }
}
@media only screen and (min-width:431px) and (max-width:767px) {
    .input-group .passText {
        color: green;
        background-color: transparent;
        display: block !important;
        position: absolute;
        font-size: 12px;
        z-index: 99;
        top: 10px;
        right: -30px;
        animation: blink 0.8s linear infinite;
    }
}
@media only screen and (min-width:992px) and (max-width:1199px) {
    .input-group .passText {
        color: green;
        background-color: #ffffff;
        display: block !important;
        position: absolute;
        font-size: 12px;
        z-index: 99;
        top: 10px;
        right: 7px;
        animation: blink 0.8s linear infinite;
    }
    .input-group .form-control {
        position: relative;
        z-index: 2;
        float: left;
        width: 100%;
        margin-bottom: 0;
    }
}