@media(max-width:1199px){
    .throughput {
margin-left:300px
}
}

@media(max-width:991px){
    .companyName {
        float: none;
    }

    .changeBtn{
        padding-left:0;
    }
    .throughput {
    margin-left: 180px;
}
}

@media(max-width:767px) {
    .table-responsive{
        border:none;
    }

    .options ul li label {
        font-size: 16px;
    }
     .throughput {
    margin-left: 0px;
}

     .pull-none-sm{
         float:none !important;
     }

     .mt-sm-2{
         margin-top:20px;
     }
}
    @media(max-width:699px) {
        .intro-page {
            height: 420px;
        }

        .box-wrapper {
            min-height: 750px;
        }

        .intro-page h2 {
            font-size: 14px;
        }

        .intro-page h1 {
            font-size: 19px;
            margin-top: 10px;
        }

        .introduction h2, .introduction1 h2 {
            font-size: 24px;
        }

        .introduction h3, .introduction1 h3 {
            font-size: 18px;
        }

        .introLogo img {
            height: 280px;
        }
    }


    @media(max-width:536px) {
        .question {
            font-size: 24px;
            padding-left: 40px;
            padding-right: 40px;
            line-height: 32px;
            margin-top: 30px;
            text-align: left;
        }

        .options {
            margin-top: 45px;
        }

        .questionintro {
            padding-left: 40px;
            padding-right: 40px;
            font-size: 20px;
        }

        .options ul {
            padding-left: 40px;
            padding-right: 40px;
        }

        .footer-copyright img {
            float: none !important;
            display: block;
            margin: 20px auto 0;
        }

        .steps-footer {
            position: initial;
        }
   
    }


    @media(max-width:390px) {
        .introduction .intro-page {
            height: 285px;
            background-position-y: 45px;
        }

            .introduction .intro-page h2 {
                color: #000;
            }

        .introduction1 .intro-page {
            height: 285px;
        }

        .box-wrapper {
            min-height: 635px;
        }

        .question {
            font-size: 20px;
            padding-left: 20px;
            padding-right: 20px;
            line-height: 28px;
            margin-top: 25px;
        }

        .questionintro {
            padding-left: 20px;
            padding-right: 20px;
            font-size: 17px;
        }

        .options {
            margin-top: 30px;
        }

            .options ul {
                padding-left: 25px;
                padding-right: 25px;
            }
            
        .introLogo img {
            height: 180px;
        }
    }
