
@{
    ViewBag.Title = "GetStarted";
}

@*<h2>Index</h2>*@




    <div class="container">
        <div class="box-wrapper introduction">
            <div class="intro-page ">
                <h2 class="text-center text-shadow text-white fw-600 my-0 pt-1">The Alex Rogo Levels</h2>
                <h1 class="text-center text-shadow text-yellow fw-700 mt-0">An AI Guide for Implementing The Goal</h1>
            </div>

            <h2 class="text-center fw-700">Following the 5 Focusing Step framework</h2>
            <h3 class="text-center my-0 pt-1">Developed by: The Alex Rogo Committee</h3>
            <h3 class="text-center my-0 pt-1">Start Date: October 2017</h3>
            <h3 class="text-center my-0 pt-1">Updated: January 2019</h3>
            <div class="text-center">
                <a href="@Url.Action("StartLevel", "Questionnaire")" class="mt-2 btn btn-success btn-lg">
                    Get
                    Started
                </a>
            </div>

            <footer class="text-center mt-3">&copy; 2019 TOCICO. All Rights Reserved.</footer>
        </div>
       
    </div>


  
