
@{
    ViewBag.Title = "GetStarted";
}

@*<h2>Index</h2>*@

<div style="background:#ffffff;">

    <div class="toolbar-out">
        <div class="container">
            <div id="itoolbar_bg">
                <div id="itoolbar" class="col-md-12  text-right">

                    <a href="@Url.Action("Logout", "Questionnaire", new { MemberId = Request.QueryString["MemberId"] })">Sign Out</a>
                </div>

            </div>
        </div>
    </div>
    <div class="header-out">
        <div class="container">
            <div id="header">
                <script type="text/javascript">
                    WebFontConfig = {
                        google: { families: ['Open+Sans:400,300,600,700,800:latin', 'Roboto+Condensed:400,300,700:latin'] }
                    };
                    (function () {
                        var wf = document.createElement('script');
                        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
                        wf.type = 'text/javascript';
                        wf.async = 'true';
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(wf, s);
                    })(); </script>

                <a class="logo" href="/" target="_parent" style="color:#000; float:left">
                    <img src="~/Content/Images/TOCICOBannerLogoGoldHorizontal.gif" />
                </a>
                <i class="head-sub">"Bringing People and TOC Knowledge Together Globally"</i>



                <div id="social">
                    <a class="fb" href="https://www.facebook.com/Theory-of-Constraints-International-Certification-Organization-98918483549/?ref=hl" target="_blank"><img border="0" src="~/Content/Images/facebook.png"></a>
                    <a class="li" href="https://www.linkedin.com/company/tocico?trk=nav_account_sub_nav_company_admin" target="_blank"><img border="0" src="~/Content/Images/linkedin.png"></a>
                    <a class="tw" href="https://twitter.com/TOCICO" target="_blank"><img border="0" src="~/Content/Images/twitter.png"></a>
                </div>


            </div>
        </div>
    </div>

</div>

<div class="container">


    <div class="box-wrapper introduction">
        <div class="intro-page ">
            <h2 class="text-center text-shadow text-white fw-600 my-0 pt-1 animated bounceInLeft">The Alex Rogo Levels</h2>
            <h1 class="text-center text-shadow text-yellow fw-700 mt-0 animated bounceInRight">An AI Guide for Implementing The Goal</h1>
            <div class="introLogo animated rotateIn">
                <img src="~/Content/Images/logo.png" class="img-responsive center-block" />
            </div>
        </div>

        <h2 class="text-center fw-700 animated bounceIn">Following the 5 Focusing Step framework</h2>
        <h3 class="text-center my-0 pt-1 animated bounceIn">Developed by: The Alex Rogo Committee</h3>
        @*<h3 class="text-center my-0 pt-1">Start Date: October 2017</h3>
            <h3 class="text-center my-0 pt-1">Updated: January 2019</h3>*@
        <div class="text-center mt-3 animated bounceInUp">
            @*<a href="@Html.Raw(Url.Action("Questions", "Questionnaire", new { MemberId = Request.QueryString["MemberId"] }))" class="mt-2 btn btn-success btn-lg">
                    Get
                    Started
                </a>*@
            @Html.ActionLink("Get Started", "Questions", "Questionnaire", new { MemberId = TempData["MemberId"] }, new { @class = "mt-2 btn btn-success btn-lg" })

        </div>

        @*<footer class="text-center mt-3">&copy; 2019 TOCICO. All Rights Reserved.</footer>*@
    </div>

</div>


<div id="footer">
    <div id="foot-social">
        <span style="background-color: #ffffff00;">
            <a class="fb" href="https://www.facebook.com/Theory-of-Constraints-International-Certification-Organization-98918483549/?ref=hl" target="_blank">
                <img alt="" src="/graphics/facebook-w.png" style="border-width: 0px; border-style: solid;">
            </a>
            <a class="li" href="https://www.linkedin.com/company/tocico?trk=nav_account_sub_nav_company_admin" target="_blank">
                <img alt="" src="/graphics/linkedin-w.png" style="border-width: 0px; border-style: solid;">
            </a>
            <a class="tw" href="https://twitter.com/TOCICO" target="_blank">
                <img alt="" src="/graphics/twitter-w.png" style="border-width: 0px; border-style: solid;">
            </a>
        </span>
    </div>
    <div id="FooterContentArea">
        <div class="container">
            <!--YMPSTITLE=TgBBAA==/YMPSTITLE--><span style="background-color: #ffffff00;">
                <style>
                    #copyright-inner {
                        padding-left: 0px !important;
                        margin-right: 360px !important;
                        margin-top: 0px;
                    }

                    #icopyright {
                        width: 100% !important;
                    }
                    <!-- .mainmenu-out {
                        padding-left: 8%;
                    }
                    -->
                    .foot-copy {
                        padding-left: 420px;
                    }
                </style>
            </span>
            <div id="footer">
                <div id="foot-social">
                    <span style="background-color: #ffffff00;">
                        <a class="fb" href="https://www.facebook.com/Theory-of-Constraints-International-Certification-Organization-98918483549/?ref=hl" target="_blank">
                            <img alt="" src="~/Content/Images/facebook-w.png" style="border-width: 0px; border-style: solid;">
                        </a>

                        <a class="li" href="https://www.linkedin.com/company/tocico?trk=nav_account_sub_nav_company_admin" target="_blank">

                            <img alt="" src="~/Content/Images/linkedin-w.png" style="border-width: 0px; border-style: solid;">
                        </a>

                        <a class="tw" href="https://twitter.com/TOCICO" target="_blank">

                            <img alt="" src="~/Content/Images/twitter-w.png" style="border-width: 0px; border-style: solid;">
                        </a>
                    </span>
                </div>
                <div class="foot-copy">
                    <span style="background-color: #ffffff00;">
                        Copyright © 2018 TOCICO. All rights reserved.<br>
                        Theory of Constraints International Certification Organization<br>
                        230 Washington Avenue Extension, Suite 101<br>
                        Albany, New York 12203-5319&nbsp; USA<br>
                        Ph: +1 (518) 694-8478<br>
                        Fax: +1 (518) 463-8656<br>
                        admin@tocico.org<br>
                    </span>
                </div>
            </div>
        </div>
        <div id="icopyright">
            <div id="copyright-inner" class="container text-center">
                <a href="/ams/legal-privacy.htm" class="">Legal</a><!-- Copyright (c) 1998-2019 YourMembership.com Inc. All Rights Reserved. Copyright: Certain elements of this website are: Copyright (c) 1998-2019, YourMembership.com, Incorporated. YourMembership.com, Incorporated provides a limited license to use its Copyrights to the entity from whose web page you are viewing. Certain elements of this website may also be copyrighted by that entity; please see its Terms of Use or contact the organization for more information. General information about copyright laws can be found at: http://www.copyright.gov/. For more specific information, please consult an attorney. -->
            </div>
        </div>
    </div>
</div>




