@model AlexRogoBeltApp.ViewModel.QuestionViewModel

@{
    ViewBag.Title = "Yellow Belt";
}

<script>
    function Other(e, controlId, labelId) {
        var val = $(e).is(':checked');
        if (val) {
            document.getElementById(controlId).style.display = '';
            document.getElementById(labelId).style.display = '';
            document.getElementById(controlId).setAttribute("required", "required");
        }
        else {
            document.getElementById(controlId).style.display = 'none';
            document.getElementById(labelId).style.display = 'none';
            document.getElementById(controlId).removeAttribute("required");
            document.getElementById(controlId).value = "";
        }
    }
    function MovieCheckboxError(e, labelId) {
        debugger;
        var val = $(e).is(':checked');
        if (val) {
            document.getElementById(labelId).style.display = '';
        }
        else {
            document.getElementById(labelId).style.display = 'none';
        }
    }
</script>

@using (Html.BeginForm())
{
    @*@Html.AntiForgeryToken()*@

    <div class="container">
        <div class="box-wrapper" style="background-image: linear-gradient(to top,#ace0f9  0%,  #fff1eb 100%);">
            <div class="question-area">
                <div class="step-page">
                    <div class="text-center text-shadow text-white">The Alex Rogo Levels</div>
                </div>
                @Html.Partial("~/Views/YellowBelt/" + Model.ViewName, Model)
            </div>

            <footer>

                <div class="questionintro">
                    <a href="@Url.Action("Questions", "Questionnaire", new { QuestionOrder = Model.QuestionOrder })" class="mt-2 btn btn-primary btn-lg ">
                        < Back
                    </a>

                    <input type="submit" value="Next >" class="mt-2 btn btn-success btn-lg pull-right" />
                </div>
                <div class="footer-copyright">
                    <img src="~/Content/Images/logo_black.png" />
                    <div class="steps-footer">
                        &copy; 2019 TOCICO. All Rights Reserved.
                    </div>
                </div>
            </footer>
        </div>
    </div>
}