
@{
    ViewBag.Title = "StartLevel";
}



    <div class="container">
        <div class="box-wrapper introduction1">
            <div class="intro-page">
                <h2 class="text-center text-shadow text-white fw-600 my-0 pt-1">The Alex Rogo Levels</h2>

            </div>

            <h2 class="text-center mb-0 fw-700">
                An Artificial Intelligence (AI)

            </h2>
            <h2 class="text-center my-0 fw-700">Expert System for Implementing</h2>
            <h2 class="text-center my-0  fw-700">The Goal</h2>
            <h3 class="text-center my-0 pt-1 ">Developed by: TOCICO</h3>
            <div class="text-center">
                <a href="@Url.Action("Questions", "Questionnaire")" class="mt-2 btn btn-success btn-lg">Start Levels</a>
            </div>

            <footer class="text-center mt-3">&copy; 2019 TOCICO. All Rights Reserved.</footer>
        </div>
    </div>


   