<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Content/Images/favicon.ico" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    ﻿@model AlexRogoBeltApp.ViewModel.QuestionViewModel
    <title>TOCICO</title>
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/responsive.css" rel="stylesheet" />
</head>
<body class="body-wrapper">
    <div class="body-content">
        <div style="background:#ffffff;     margin-top: -20px;">

            <div class="toolbar-out">
                <div class="container">
                    <div id="itoolbar_bg">
                        <div id="itoolbar" class="col-md-12  text-right">

                            <a href="/Logout.aspx">Sign Out</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="header-out">
                <div class="container">
                    <div id="header">
                        <script type="text/javascript">
                            WebFontConfig = {
                                google: { families: ['Open+Sans:400,300,600,700,800:latin', 'Roboto+Condensed:400,300,700:latin'] }
                            };
                            (function () {
                                var wf = document.createElement('script');
                                wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
                                wf.type = 'text/javascript';
                                wf.async = 'true';
                                var s = document.getElementsByTagName('script')[0];
                                s.parentNode.insertBefore(wf, s);
                            })();</script>

                        <a class="logo" href="/" target="_parent" style="color:#000; float:left">
                            <img src="~/Content/Images/TOCICOBannerLogoGoldHorizontal.gif" />
                        </a>
                        <i class="head-sub">"Bringing People and TOC Knowledge Together Globally"</i>



                        <div id="social">
                            <a class="fb" href="https://www.facebook.com/Theory-of-Constraints-International-Certification-Organization-98918483549/?ref=hl" target="_blank"><img border="0" src="~/Content/Images/facebook.png"></a>
                            <a class="li" href="https://www.linkedin.com/company/tocico?trk=nav_account_sub_nav_company_admin" target="_blank"><img border="0" src="~/Content/Images/linkedin.png"></a>
                            <a class="tw" href="https://twitter.com/TOCICO" target="_blank"><img border="0" src="~/Content/Images/twitter.png"></a>
                        </div>


                    </div>
                </div>
            </div>

        </div>

        <div class="container">
            <div class="box-wrapper" style="background-image: linear-gradient(to top,#ace0f9  0%,  #fff1eb 100%);">
                <div class="question-area">
                    <div class="text-center" style="padding-top:220px;">
                        <img src="~/Content/Images/cancel.png" style="width:64px; " />
                        <h1> Error !!!</h1>
                        <br />
                        <h3>An error occurred while processing your request.<br />
                        <br />Please contact your system administrator.</h3>
                        <br />
                        <a href="@Url.Action("Logout", "Questionnaire", new { MemberId = Request.QueryString["MemberId"] })" class="btn btn-danger">Sign Out</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div id="foot-social">
                <span style="background-color: #ffffff00;">
                    <a class="fb" href="https://www.facebook.com/Theory-of-Constraints-International-Certification-Organization-98918483549/?ref=hl" target="_blank">
                        <img alt="" src="/graphics/facebook-w.png" style="border-width: 0px; border-style: solid;">
                    </a>
                    <a class="li" href="https://www.linkedin.com/company/tocico?trk=nav_account_sub_nav_company_admin" target="_blank">
                        <img alt="" src="/graphics/linkedin-w.png" style="border-width: 0px; border-style: solid;">
                    </a>
                    <a class="tw" href="https://twitter.com/TOCICO" target="_blank">
                        <img alt="" src="/graphics/twitter-w.png" style="border-width: 0px; border-style: solid;">
                    </a>
                </span>
            </div>
            <div id="FooterContentArea">
                <div class="container">
                    <!--YMPSTITLE=TgBBAA==/YMPSTITLE--><span style="background-color: #ffffff00;">
                        <style>
                            #copyright-inner {
                                padding-left: 0px !important;
                                margin-right: 360px !important;
                                margin-top: 0px;
                            }

                            #icopyright {
                                width: 100% !important;
                            }
                            <!-- .mainmenu-out {
                                padding-left: 8%;
                            }
                            -->
                            .foot-copy {
                                padding-left: 420px;
                            }
                        </style>
                    </span>
                    <div id="footer">
                        <div id="foot-social">
                            <span style="background-color: #ffffff00;">
                                <a class="fb" href="https://www.facebook.com/Theory-of-Constraints-International-Certification-Organization-98918483549/?ref=hl" target="_blank">
                                    <img alt="" src="~/Content/Images/facebook-w.png" style="border-width: 0px; border-style: solid;">
                                </a>

                                <a class="li" href="https://www.linkedin.com/company/tocico?trk=nav_account_sub_nav_company_admin" target="_blank">

                                    <img alt="" src="~/Content/Images/linkedin-w.png" style="border-width: 0px; border-style: solid;">
                                </a>

                                <a class="tw" href="https://twitter.com/TOCICO" target="_blank">

                                    <img alt="" src="~/Content/Images/twitter-w.png" style="border-width: 0px; border-style: solid;">
                                </a>
                            </span>
                        </div>
                        <div class="foot-copy">
                            <span style="background-color: #ffffff00;">
                                Copyright © 2018 TOCICO. All rights reserved.<br>
                                Theory of Constraints International Certification Organization<br>
                                230 Washington Avenue Extension, Suite 101<br>
                                Albany, New York 12203-5319&nbsp; USA<br>
                                Ph: +1 (518) 694-8478<br>
                                Fax: +1 (518) 463-8656<br>
                                admin@tocico.org<br>
                            </span>
                        </div>
                    </div>
                </div>
                <div id="icopyright">
                    <div id="copyright-inner" class="container text-center">
                        <a href="/ams/legal-privacy.htm" class="">Legal</a><!-- Copyright (c) 1998-2019 YourMembership.com Inc. All Rights Reserved. Copyright: Certain elements of this website are: Copyright (c) 1998-2019, YourMembership.com, Incorporated. YourMembership.com, Incorporated provides a limited license to use its Copyrights to the entity from whose web page you are viewing. Certain elements of this website may also be copyrighted by that entity; please see its Terms of Use or contact the organization for more information. General information about copyright laws can be found at: http://www.copyright.gov/. For more specific information, please consult an attorney. -->
                    </div>
                </div>
            </div>
        </div>


</body>
</html>
