<div id="myModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-left text-danger"><i class="glyphicon glyphicon-warning-sign text-danger"></i> &nbsp; &nbsp;Oops</h4>
            </div>
            <div id="errMsg" class="modal-body text-left">

            </div>            

        </div><!-- /.modal-content -->
    </div>
</div>