<div id="myModalInfo" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-left text-info"><i class="glyphicon glyphicon glyphicon-exclamation-sign text-info"></i> &nbsp; &nbsp;Info </h4>
            </div>

            <div id="infoMsg" class="modal-body text-left">                
            </div>
            <div class="modal-footer">
                <a href="@Url.Action("Setsessiondata", "Questionnaire", new { MemberId = Request.QueryString["MemberId"] })">Continue Again</a>
            </div>

        </div><!-- /.modal-content -->
    </div>
</div>